<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
    <title>Apartment</title>
</head>
<body>


<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1 style="font-family: Consolas;">Apartments for rent</h1>
        </div>
    </div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Apartment name: </th>
        <th>Price per month: </th>
    </tr>
    </thead>
    <tr th:each="apartment : ${apartments}">

        <td th:text="${apartment.name}">Place holder</td>
        <td th:text="${apartment.price}">Place holder</td>

    </tr>
</table>
</div>
</body>
</html>